/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  color: #000;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  background-color: #05377b;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 70px;
  border-radius: 50%;
}

.navbar {
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #fff;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.navbar a:hover {
  background-color: #022d64;
  transform: scale(1.05);
}

/* Footer */

footer {
  background-color: #05377b;
  color: #fff;
  text-align: center;
  padding: 30px 15px;
  font-family: "Space Grotesk", sans-serif;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
