body {
    font-family: sans-serif;
    padding: 1rem;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.container-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
}

.aluno {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: baseline;
    margin-bottom: 2%;
    align-items: center; 
}

.aluno h4 {
    margin-left: 10px;
}

.confirmarPresenca {
    margin-right: 10px;
}

.confirmarPresenca #presenca:hover {
    cursor: pointer;
}

.cabecalho {
    font-weight: bold;
}

.botaoEnviar{
    display: flex;
    justify-content: center;
}

#enviarChamada {
    background-color: #05377B; 
    color: white;
    padding: 10px;
    width: 40%;
    border-color: white;
    border-radius: 10px;
}

#enviarChamada:hover {
    transform: scale(1.04);
    cursor: pointer;
}
